# Compilados
*.class

# Logs
*.log

# Pacotes
*.jar
*.war
*.ear

# Build (Maven / Gradle)
target/
build/
out/

# IntelliJ IDEA
.idea/
*.iml

# VS Code (se usar)
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.swp

# Configs locais (evita vazar dados)
application.properties
application.yml